APP_NAME="Harbor Panel"
APP_ENV=production
APP_KEY=CHANGE_ME_APP_KEY
APP_DEBUG=false
APP_URL=https://panel-dev.idkxz.my.id

PANEL_DOMAIN=panel-dev.idkxz.my.id
PANEL_WEB_BIND=127.0.0.1:8081
ACME_EMAIL=tegardarmawan@gmail.com
DOCKER_GID=CHANGE_ME_DOCKER_GID

HOSTING_APPS_PATH=/opt/myhosting-panel/apps
HOSTING_PROXY_NETWORK=hosting_proxy
HOSTING_ACME_RESOLVER=letsencrypt
HOSTING_COMMAND_TIMEOUT=900
HOSTING_LOG_LINES=300

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID
APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=database
DB_PORT=3306
DB_DATABASE=hosting_panel
DB_USERNAME=hosting_panel
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
DB_ROOT_PASSWORD=CHANGE_ME_DB_ROOT_PASSWORD

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="tegardarmawan@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
